.box6 {
  width: 100%;
  height: 865px;
  margin: 0 auto;
  position: relative;
  background-color: #b07cf7;
}
.box6 .container {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-container-box6 {
  position: relative;
  width: 585px;
  margin-top: 85px !important;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.title-box6 {
  position: relative;
  font-size: 94px;
  font-family: "RalewayBold";
  color: white;
  text-align: center;
  margin-top: -18px;
}
.text-box6 {
  font-size: 17px;
  margin-top: -65px;
  font-family: "RalewayLight";
  color: white;
  line-height: 1.7;
  position: relative;
  text-align: center;
}
.blog-con-img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 310px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.blog-img {
  position: relative;
  height: 310px;
  width: 370px;
  box-shadow: 0px 1px 5px -1px black;
}
.con-cards {
  transition: 0.5s;
}
.con-cards img {
  box-shadow: inset 0px 0px 10px black;
}
.con-cards:hover {
  position: relative;
  transition: all 0.5s 0s ease-in-out;
  transform: scale(1.07);
  box-shadow: 0px 0px 12px 2px black;
}
.text-img {
  position: absolute;
  height: 310px;
  width: 370px;
  margin-top: -313px;
  box-shadow: inset 0px -84px 68px 0px rgb(0 0 0 / 90%);
}
.date-blog {
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-family: "RalewayExtraBold";
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.phrase-blog {
  color: white;
  font-size: 20px;
  font-family: "RalewayBold";
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 120px;
}
.when-blog {
  color: white;
  margin-left: 20px;
  font-size: 15px;
  font-family: "RalewayLight";
  margin-right: 20px;
  margin-top: -4px;
}
.blog-button-view-more {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 55px;
  margin-top: 35px;
  background-color: #f72b3b;
  color: white;
  font-size: 21px;
  font-family: "RalewayLight";
  box-shadow: 0px 1px 8px -1px black;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-button-view-more:hover {
  background-color: #cd0017;
}
.blog-button-view-more:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-button-view-more:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.blog-button-view-more:active {
  background: #cd0017;
  top: 2px;
}
.blog-button-view-more:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
@media (max-width: 1160px) {
  .box6 {
    height: 1150px;
  }
  .blog-con-img {
    position: relative;
    height: 674px;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .text-img {
    margin-top: -310px;
  }
}
@media (max-width: 765px) {
  .box6 {
    height: 1500px;
  }
  .blog-con-img {
    max-width: 735px;
    height: 1015px;
  }
}
@media (max-width: 590px) {
  .box6 {
    height: 1540px;
  }
  .text-container-box6 {
    width: 370px;
  }
  .blog-con-img {
    margin-top: 90px;
  }
}
