:root {
  background-color: #f9f8fb;
}
.header {
  background-color: #f9f8fb;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: block;
}
.header .container {
  margin: 0 auto;
  max-width: 2000px;
  position: relative;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: relative;
  margin-top: 50px;
  margin-left: 165px;
  font-family: "PacificoRegular";
  font-size: 50px;
}
.link-box {
  position: relative;
  width: 720px;
  height: 150px;
  right: 0;
  margin-right: 150px;
  margin-left: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.link-line {
  text-align: center;
  width: 100px;
  height: 28px;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 500;
}
.line {
  display: none;
  position: absolute;
  width: 100px;
  margin-top: -7px;
  height: 4px;
  background-color: #ff6033;
}
.link-line:hover .line {
  display: block;
}
