.footer {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  position: relative;
  background-color: #262626;
}
.footer .container {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.copyright {
  position: relative;
  font-family: "RalewayLight";
  font-size: 17px;
  margin-top: 35px;
  color: #aaaaaa;
}
.logo-footer {
  position: relative;
  font-family: "PacificoRegular";
  font-size: 25px;
  line-height: 40px;
  color: #b9b9b9;
}
.made {
  position: relative;
  font-family: "RalewayLight";
  font-size: 17px;
  margin-top: 35px;
  color: #b9b9b9;
}
.made span {
  color: #f52b55;
  font-family: "RalewayBold";
}
@media (max-width: 590px) {
  .footer {
    height: 130px;
  }
  .footer .container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
  }
  .copyright {
    margin-top: -13px;
  }
  .made {
    display: none;
  }
}
