.box5 {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
}
.box5 .container {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.img-box5 {
  position: absolute;
  right: 0;
}
.subscribe-container-box5 {
  position: relative;
  width: 780px;
  height: 220px;
  margin-top: 140px;
  margin-left: 160px;
}
.text-container-box5 {
  width: 550px;
}
.title-box5 {
  font-size: 40px;
  font-family: "RalewayBold";
  margin-top: -8px;
  margin-left: -2px;
  color: #262626;
  position: relative;
}
.text-box5 {
  font-size: 16px;
  margin-top: -20px;
  font-family: "RalewayLight";
  color: #262626;
  line-height: 1.7;
  position: relative;
}
.email-sub {
  width: 550px;
  padding-left: 20px;
  height: 53px;
  border: 1px solid #262626;
  font-family: "RalewayLight";
  margin-top: 16px;
  font-size: 20px;
  color: #262626;
  outline-color: #68930d;
}
.email-sub::placeholder {
  color: #aaaaaa;
}
.subscribe-button {
  margin-left: 30px;
  width: 170px;
  font-family: "RalewayLight";
  height: 56px;
  border: none;
  background-color: #96b92c;
  color: white;
  font-size: 20px;
}
.subscribe-button:hover {
  background-color: #68930d;
}
@media (max-width: 1200px) {
  .img-box5 {
    display: none;
  }
  .box5 .container {
    justify-content: center;
  }
  .subscribe-container-box5 {
    margin-left: 0;
  }
}
@media (max-width: 950px) {
  .subscribe-container-box5 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    justify-content: space-between;
  }
  .subscribe-container-box5 {
    width: 575px;
    height: 300px;
  }
}
