@font-face {
  font-family: 'PacificoRegular';
  src: url(./fonts/Pacifico-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayBold';
  src: url(./fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayExtraBold';
  src: url(./fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayLight';
  src: url(./fonts/Raleway-Light.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url(./fonts/icomoon.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrot:before {
  content: "\e900";
}
.icon-hand:before {
  content: "\e901";
}
.icon-planet:before {
  content: "\e902";
}
.icon-shop:before {
  content: "\e903";
}
